/*
* {
    background-color: blue;
}
*/
/*esto es un comentario css*/
/*estoy usando css interno*/
body {
   background-color: aqua;
}

/*aplicar estilos por id*/
#idsection{
    background-color: blueviolet;
}

