/*
* {
    background-color: blue;
}
*/
/*esto es un comentario css*/
/*estoy usando css interno*/
body {
   background-color: aqua;
}

.container {
    background-color: rgb(94, 77, 77));
}

.classssection {
    background-color: yellowgreen;
}

.header {
    background-color: antiquewhite;
}